<mat-toolbar color="primary">
  <span>Mi Tienda</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard" color="secondary">Dashboard</button>
  <button mat-button routerLink="/dashboard/usuarios" color="secondary">Usuarios</button>
  <button mat-button routerLink="/dashboard/reportes" color="secondary">Reportes</button>
  <span class="example-spacer"></span>
  <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" title="Cerrar sesion" aria-label="Example icon-button with logout icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
